
{% extends "base.html"%}
{% load static %}
{% block content %}
<style>
  img {
    width:  100%;
    height: 100%;
    object-fit: cover;
}

</style>

    <!-- Hero Section-->
    <section style="background: url({% static 'img/hero.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>Reetika Mitra Fooding Around</h1>
          </div>
        </div>
      </div>
    </section>


     <br>



    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for obj in object_list %}

        <div class="row d-flex align-items-stretch">
          {% if not forloop.first and not forloop.last %}

          <div class="image col-lg-5">
<!--              <a href="{{obj.get_absolute_url}}">-->
              <img src="{{obj.thumbnail.url}}" class="img-fluid" style=""  alt="...">
<!--              </a>-->
          </div>
          {% endif %}
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    {% for cat in obj.categories.all%}
<!--                    <a href="#">{{cat}}</a>-->
                      <strong>{{cat}}</strong>
                    {% endfor %}
                  </div><a href="{{obj.get_absolute_url}}">
                    <h2 class="h4" style="color:black;">{{obj.title}}</h2></a>
                </header>
                <p>{{obj.overview|linebreaks|truncatechars:300}}</p>
                <footer class="post-footer d-flex align-items-center">
                    <div class="avatar"><img src="{{ obj.author.profile_picture.url}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{obj.author}}</span></div>
                  <div class="date"><i class="icon-clock"></i> {{obj.timestamp|timesince}} ago</div>
                  <div class="comments"><i class="icon-comment"></i>{{obj.comment_count}}</div>
                </footer>
              </div>
            </div>
          </div>
          {% if forloop.first or forloop.last %}
          <div class="image col-lg-5">
<!--              <a href="{{obj.get_absolute_url}}">-->
              <img src="{{obj.thumbnail.url}}" class="img-fluid" style=""  alt="...">
<!--              </a>-->
          </div>
          {% endif %}
        </div>
        {% endfor %}

      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>We have new recipes uploaded every week so please feel free to return back to see what we share next</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest from the blog</h2>
          <p class="text-big">Check out our latest recipes</p>
        </header>
        <div class="row">
          {% for obj in latest %}


          <div class="card" style="width: 23rem;">
            <img src="{{ obj.thumbnail.url}}" class="card-img-top"  style= "height: 15rem; " alt="...">
            <div class="card-body">
                <a href="{{obj.get_absolute_url}}">
              <strong><h5 class="card-title" style="color:black;">{{obj.title}}</h5></strong>
                </a>
              <p class="card-text">{{obj.overview|linebreaks|truncatechars:200 }}</p>
<!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
              <footer class="post-footer ">
                  <div class="date"><i class="icon-clock"></i> {{obj.timestamp}}</div>
                  <div class="comments"><i class="icon-comment"></i> {{obj.comment_count}}</div>
                </footer>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>



{% endblock content %}